header.masthead {
    height: 100%;
    min-height: 300px;
}

.icons{
    float: left;
    width: 25%;
    background: #f6f6f6;
    margin: 10px 4%;
    border-radius: 50%;
    height: 170px;
    padding-top: 50px;
}
section {
    padding: 65px 0;
}

.box{
    // background: yellow;
    margin: 5px 4%;
    width: 25%;
    float: left;
    padding: 5px;
}

.icons img{
    width: 90px;
}

.box h6{
    color: #000000;
}

.box p {
    font-size: 15px;
    line-height: 1;
    color: white;
}

.portfolio-box-caption {
    margin-left: 3%;
    background: rgba(23, 53, 139, 0.9);
    width: 94%;
}
.img-fluid {
    max-width: 94%;
    height: auto;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.17);
    margin-left: 3%;
}

.margintop{
    margin-top: 1%
}

.footer{
	background: rgb(128, 0, 0);
	color: #c5c5c5;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	padding: 1px;
	
}
