<app-header></app-header>
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">We make a living by what we get, 
        But we make a life by what we give.</h1>
      <!-- <hr> -->
      <!-- <p>Start your billing management using this feature rich application.</p> -->
      <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a> -->
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-heading text-white">The life of a man consists not in seeing visions and in dreaming dreams, but in active charity and in willing service</h2>
        <!-- <hr class="light"> -->
        <p class="text-faded">He who wished to secure the good of others, 
          Has already secured his own</p>
        <div class="icons">
          <img src="../../../assets/img/shopping cart.png">
        </div>
        <div class="icons">
          <img src="../../../assets/img/laptop.png">
        </div>
        <div class="icons">
          <img src="../../../assets/img/tablet.png">
        </div>
        <div class="box">
          <h6>Free Checkups</h6>
          <p>Where there is charity and wisdom, 
            There is neither fear nor ignorance</p>
        </div>
        <div class="box">
            <h6>Easily Available</h6>
          <p>Opportunity to help up and grow</p>
        </div>
        <div class="box">
            <h6>Charity Center</h6>
          <p>Transforming social, the charity way!</p>
        </div>
        
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>Create Innovative</h3>
          <p class="text-muted">Our site are made to willing all social work</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>Easily Available</h3>
          <p class="text-muted">You can contact to nearby Doctors</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Up to Date</h3>
          <p class="text-muted">We update availlability to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>Made with Feedback</h3>
          <p class="text-muted">You have to contribute your feedback!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="../../../assets/img/share.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <b>Charity begins at home, but should not end there</b>
              </div>
              <div class="project-name">
                  <p>Obesity is a societal issue. We have to come together with government, business, civil society, and NGOs to create solutions for this.
                    </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="../../../assets/img/batch.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  <b>Charity sees the need, not the cause</b>
              </div>
              <div class="project-name">
                  <p>NGOs have a significant role to play, alongside governments, in improving the status of women.
                    </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 ">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="../../../assets/img/gear.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <b>Charity sees the need, not the cause</b>
              </div>
              <div class="project-name">
                  <p>NGOs have a significant role to play, alongside governments, in improving the status of women.
                 </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 margintop">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="../../../assets/img/graph.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <b>Charity sees the need, not the cause</b>
              </div>
              <div class="project-name">
                  <p>NGOs have a significant role to play, alongside governments, in improving the status of women.
                 </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 margintop">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="../../../assets/img/inventory.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <b>Charity sees the need, not the cause</b>
              </div>
              <div class="project-name">
                  <p>NGOs have a significant role to play, alongside governments, in improving the status of women.
                 </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6 margintop">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="../../../assets/img/print.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                <b>Charity sees the need, not the cause</b>
              </div>
              <div class="project-name">
                  <p>NGOs have a significant role to play, alongside governments, in improving the status of women.
                 </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>Ready to start to work with us? That's great! Give us a call or send us an email and we will get back to you as soon
          as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:support@thehappyhelpline.com"  target="_top">support@thehappyhelpline.com</a>
        </p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:team@thehappyhelpline.com"  target="_top">team@thehappyhelpline.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <section id="footer"> -->
  <div class="footer">
    © Skill Lotto Solutions Pvt Ltd. All Rights Reserved.
  </div>
<!-- </section> -->

<!-- <app-footer></app-footer> -->