@keyframes spinner {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(359deg);
    }
}

*{
    box-sizing: border-box;
  }

.Login_wrapper {
    background: url("../../../assets/img/background.png") no-repeat center top;
    min-height: 630px;
    height: 100vh;
    padding-top: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
	background-size: cover;
}

.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    margin-top: 10px;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login.loading button {
    max-height: 100%;
    padding-top: 50px;
}

.login.loading button .spinner {
    opacity: 1;
    top: 40%;
}

.login.ok button {
    background-color: #8bc34a;
}

.login.ok button .spinner {
    border-radius: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 20px;
    animation: none;
    transform: rotateZ(-45deg);
}

.login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
}

.login input + i.fa {
    color: #fff;
    font-size: 1em;
    position: absolute;
    margin-top: -47px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in;
}

.login input:focus {
    outline: none;
    color: #444;
    border-color: #fea50d;
    border-left-width: 35px;
}

.login input:focus + i.fa {
    opacity: 1;
    left: 30px;
    transition: all 0.25s ease-out;
}

.login a {
    font-size: 0.8em;
    color: #fe2525;
    text-decoration: none;
}

.login button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #fea50d;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
  }
  .login button .spinner {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 4px solid #ffffff;
    border-top-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    left: 50%;
    top: 0;
    opacity: 0;
    margin-left: -20px;
    margin-top: -20px;
    animation: spinner 0.6s infinite linear;
    transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  }
  .login:not(.loading) button:hover {
    box-shadow: 0px 1px 3px #fea50d;
  }
  .login:not(.loading) button:focus {
    border-bottom-width: 4px;
  }

  .right{
    float: right;
  }

  h3.Head {
    text-align: center;
    color: #fea50d;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    /* margin: 10px 0 5px 0; */
    text-transform: uppercase;
}
.table-container {
    max-width: 490px;
    margin: 50px auto;
    width: 100%;
    padding: 1%;
    background: #f5f5f5;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.17);
}
.head {
    text-align: center;
    color: #dd4d54;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase;
}
.forgetPass {
    width: 100%;
    max-width: 100%;
    padding: 0 15px 15px;
    margin-bottom: 0;
}
.tr {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.txt {
    width: 30%;
    float: left;
    font-size: 13px;
    padding-top: 11px;
}
.inputBox {
    border: 0px;
    float: right;
    width: 70%;
}
.table-input {
    padding: 8px 0px;
    width: 100%;
    border: 1px solid #dfdfdf;
    background-color: #f0f0f0;
    outline: 0;
}
.forgotSubmit {
    width: 100%;
    background-color: #fea50d;
    border: 0px solid #ff2626;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 15px;
}
.container_thanku{
    width: 33%;
    text-align: center;
    margin: 50px auto;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.17);
    background: whitesmoke;
    padding: 30px;
}
.hdtext {
    color: #a31010;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
}
.container_thanku p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
}
.container_thanku a {
    color: #27a927;
    font-size: 17px;
    font-weight: 600;
}
.new{
    max-width: 320px;
    margin: 0px auto;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.17);
    width: 100%;
    background: #f7f7f8;
    /* border-radius: 18px; */
    margin-top: 69px;
    padding-top: 1px;
}

.new ul {
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    -webkit-margin-after: 0;
    -webkit-border-before: 0;
    -webkit-padding-start: 10px;
 }

 .new ul li {
    display: inline-block;
    width: 100%;
   /* margin-bottom: 1%;  */
 }

 .new ul li label{
    display: inline-block;
    width: 35%;
    float:left;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
    padding-left: 10px;
 }   

 .new select {
    border: 1px solid #cfcfcf;
    height: 29px;
    width: 58%;
    float:left;
    background: #f0f0f0;
    font-size: 12px;
    font-family: inherit;
    outline: 0;
    /* border-radius: 50px; */
 
}