<app-header></app-header>
<div class="Login_wrapper">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="new">
      <ul>
        <li>
          <label for="">Login As</label>
          <select [(ngModel)]="typeOfUser" (change)="typeofUserFunc(typeOfUser)">
            <option *ngFor="let typeofUserData of typeOfUserArray" value= {{typeofUserData.type}}>
              {{typeofUserData.type}}
            </option>
          </select>
        </li>
      </ul>
  
    </div>
  <form #loginForm="ngForm" class="login" *ngIf="loginflag">
    <h3 class="Head">Log in</h3>

    <input type="text" placeholder="Username" [(ngModel)]="username" id="username" name="username" class="form-control" required
      #name="ngModel" autofocus/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Username is required.
      </div>

    </div>
    <i class="fa fa-user"></i>
    <input type="password" placeholder="Password" [(ngModel)]="password" name="password" id="password" class="form-control" required
      #pass="ngModel" />
    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
      <div *ngIf="pass.errors.required">
        Password is required.
      </div>
    </div>
    <i class="fa fa-key"></i>
    <a routerLink="/forgetpassword" class="right">Forgot your password?</a>
    <a routerLink="/registration">Register Now!</a>
    <button [disabled]="!loginForm.form.valid" (click)="submitLogin()">
      <span class="state">Log in</span>
    </button>
  </form>

  <!-- emailverify -->
  <div class="table-container" *ngIf="emailverify">
    <h3 class="Head">Verify Your mail</h3>
    <table class="forgetPass">
      <tr class="tr">
        <td class="txt">Email</td>
        <td class="inputBox">
          <input type="text" name='email' class="table-input" #emails="ngModel" [(ngModel)]="email" required>
          <div *ngIf="emails.invalid && (emails.dirty ||emails.touched)">
            <span class="alertInform" *ngIf=emails.errors.required>
              Email is required</span>
          </div>
        </td>
      </tr>

    </table>
    <button (click)="emailVerifyFunc()" class="forgotSubmit">submit</button>
  </div>
  <!-- OTP For email verify -->
  <div class="table-container" *ngIf="emailOtpVerify">
    <h3 class="Head">Enter OTP sent to your mail</h3>
    <table class="forgetPass">
      <tr class="tr">
        <td class="txt">OTP</td>
        <td class="inputBox">
          <input type="text" name='userotp' class="table-input" #otps="ngModel" [(ngModel)]="otp" required>
          <div *ngIf="otps.invalid && (otps.dirty ||otps.touched)">
            <span class="alertInform" *ngIf=otps.errors.required>
              OTP is required</span>
          </div>
        </td>
      </tr>
    </table>
    <button (click)="emailotpVerifyFunc()" class="forgotSubmit">submit</button>

  </div>

  <!-- mobileverify -->
  <div class="table-container" *ngIf="mobileverify">
    <h3 class="Head">Verify Your Mobile No.</h3>
    <table class="forgetPass">
      <tr class="tr">
        <td class="txt">Email</td>
        <td class="inputBox">
          <input type="text" name='email' class="table-input" #emails="ngModel" [(ngModel)]="email" required>
          <div *ngIf="emails.invalid && (emails.dirty ||emails.touched)">
            <span class="alertInform" *ngIf=emails.errors.required>
              Eamil is required</span>
          </div>
        </td>
      </tr>

    </table>
    <button (click)="mobileVerifyFunc()" class="forgotSubmit">submit</button>
  </div>
  <!-- OTP For mobile verify -->
  <div class="table-container" *ngIf="mobileOtpVerify">
    <h3 class="Head">Enter OTP sent to your Mobile Number</h3>
    <table class="forgetPass">
      <tr class="tr">
        <td class="txt">OTP</td>
        <td class="inputBox">
          <input type="text" name='userotp' class="table-input" #otps="ngModel" [(ngModel)]="otp" required>
          <div *ngIf="otps.invalid && (otps.dirty ||otps.touched)">
            <span class="alertInform" *ngIf=otps.errors.required>
              OTP is required</span>
          </div>
        </td>
      </tr>
    </table>
    <button (click)="mobileotpVerifyFunc()" class="forgotSubmit">submit</button>

  </div>
  <!-- Thanku mobile -->
  <div class="container_thanku" *ngIf="thankumessages">
    <h3 class="hdtext">Thank You</h3>
    <p>Your Email and Mobile Number is Verified</p>
    <a routerLink="/login" routerLinkActive="active">Click Here to Login</a>
  </div>

</div>


<app-footer></app-footer>